.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f3f5;
  padding: 15px 7%;
}

.logo {
  width: 35px;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #dee2e6;
  padding: 5px 20px;
  border-radius: 50px;
}

.search-box input {
  padding: 6px;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: black;
  font-size: 15px;
  max-width: 200px;
}
.search-box input::placeholder {
  color: black;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}
